form label {
  display: inline-block;
  margin-right:1em;
}

form input {
  border-width: 0 0 1px 0;
  border-color:#111;
  padding:none;
  font-size:1em;
  margin-right:1em;
}

button {
  font-size: 1em;
}

div.main {
  margin:1em;
}